<?xml version="1.0"?>
<launch>  
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="top" />
        <!-- <arg name="serial_no" value="151422063934" /> -->
        <arg name="align_depth" value="true" />
        <arg name="filters" value="pointcloud" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="bottom" />
        <!-- <arg name="serial_no" value="143322071490" /> -->
        <arg name="align_depth" value="true" />
        <arg name="filters" value="pointcloud" />
    </include>

    <node pkg="tf" type="static_transform_publisher" 
        name="camera_top_broadcaster"
        args="0 0 0 0 0 0 base_link top_link 100"
        />

    <node pkg="tf" type="static_transform_publisher" 
        name="camera_bottom_broadcaster"
        args="0 0 -.271 0 0 0 base_link bottom_link 100"
        />

</launch>